.mycard_img img::selection {
  background-color: #1d1d1d;
  color: #cccccc;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif !important;
  background: #f2f2f2;
}

header {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}


.img-width {
  max-width: 100%;
}


/*** Navigation Styles ***/
.main-nav {
  width: 100vw;
  height: 70px;
  background: transparent;
  display: flex;
  position: fixed;
  background: #1d1d1d;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav.navShadow {
  height: 50px;
  background: #1d1d1d;
}

.main-nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu,
.main-ul {
  display: flex;
}

.black {
  color: #222 !important;
}


/*** Menu Styles ***/
#menu {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-ul {
  display: flex;
  margin: 0;
}

.main-ul li {
  margin-left: 20px;
  margin-top: 5px;
}

.main-ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all .5s;
  font-weight: 500;
  font-size: 14px;
  padding: 1em .5rem 1rem .5rem;
}

.main-ul li a:hover {
  opacity: 0.7;
}

.tss--close .tss-label_pic:after {
  display: none;
}

.tss-label {
  margin-top: 0;
  top: 10px !important;
  right: -100vw !important;
}

.tss--open .tss-label {
  right: 10px !important;
  transition: all 0.5s;
}

.tss--open .tss-label_pic {
  color: #fff !important;
}

.tss--close .tss-label_pic {
  height: 1.5px !important;
  border-radius: 3px;
  width: 25px !important;
  color: #fff;
  transform: scale(.9);
}

.tss--close {
  transform: scale(.9);
}

.white {
  color: #fff !important;
}

.responsive-nav {
  display: none;
}

.top-div {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  position: fixed;
  display: none;
  z-index: 2;
  background: #1d1d1d;

}

.top-div .logo img {
  position: fixed;
  top: 5px;
  left: 45%;
  transform: translateX(-50%);
}

@media (max-width: 1023px) {
  .tss--close .tss-label_pic {
    box-shadow: inset 0 0 0 32px, 0 -10px, 0 10px !important;
    margin: 15px 0 !important;
  }

  .logo-div {
    padding: 45px 0 !important;
    text-align: center;
  }

  .logo-div a {
    padding: 0;
  }

  .main-ul {
    margin-top: 20px;
  }

  .sticky-logo img {
    width: 150px !important;
    margin: 0 auto;
    margin-right: 20px;
  }
}

.top-div img {
  text-align: center;
}

.responsive-logo {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  left: 15px;
}

.top-div-sec {
  height: 80px;
  background: #fff;
}

.modal-backdrop {
  z-index: 1;
}

.modal {
  z-index: 9999;
}

.myButton {
  border-color: none;
  border-radius: 0.15rem;
  font-size: 16px;
  margin-top: 1rem;
}

.myButton:focus {
  border-color: none;
}


.logo-div {
  width: 100%;
  background: #6F248C;
}

.responsive-sign-in li a {
  color: #fff !important;
}

.responsive-sign-in {
  padding: 3rem 0 0 0;
  display: flex;
}

.responsive-sign-in li a {
  padding: 1rem;
}

.responsive-sign-in li {
  padding: 0 1rem;
}

.responsive-nav-logo {
  width: 240px !important;
  height: auto;
}

.blue {
  color: #009FC1 !important;
}

.black {
  color: #222 !important;
}

.block {
  display: block;
}

.block-none {
  display: none;
}

.logo img {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.logo:hover {
  color: #cccccc;
  letter-spacing: 2px;
}

.cart_link {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cart_link img {
  width: 25px;
}

.like_link {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like_link img {
  width: 40px;
}

.section {
  padding: 30px 0;
  background: #f2f2f2;
}

.uzb_icon {
  width: 20px;
}

.menu_out {
  height: 85px;
}

.mycard_img {
  /* height: 200px; */
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.mycard_img img {
  max-width: 100%;
  height: auto !important;
}

.mycard_img2 {
  /* height: 200px; */
  width: 100%;
  background: #fff;
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden !important;
}

.mycard_img2 img {
  max-width: 100%;
  max-height: 100%;
}

.like_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
}

.like_btn img {
  width: 40%;
}

.mycard {
  background: #fff;
  margin-bottom: 25px;
}

.mycard_info {
  display: flex;
  justify-content: space-between;
}

.mycard2 {
  background: #fff;
  margin-bottom: 25px;
  overflow: hidden;
}

.mycard_info2 {
  display: flex;
  justify-content: space-between;
}

.mycard_info {
  padding: 15px 5px;
}

.mycard_info2 {
  padding: 15px 5px;
}

.mycard_info h3 {
  font-size: 12px;
  line-height: 1.571;
  color: #313131;
  font-weight: 500;
}

.mycard_info h4 {
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
  line-height: 1.4;
  color: #313131;
  font-weight: 600;
}

.mycard_info h4 span {
  font-size: 9px;
  white-space: nowrap;
  text-align: right;
  color: #8520ac;
  text-transform: uppercase;
}

.mycard_info2 h3 {
  font-size: 12px;
  line-height: 1.5;
  color: #313131;
  width: 65%;
  font-weight: 500;
  height: 39px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  align-self: flex-start;
}

.mycard_info2 h3+div {
  /*width: 35%;*/
  /*align-self: flex-start;*/
}

.mycard_info2 h4 {
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
  line-height: 1.4;
  color: #313131;
  font-weight: 600;
}

.mycard_info2 h4+span {
  align-self: flex-end;
  text-align: right;
  display: block;
}

.mycard_info2 h4 span {
  font-size: 9px;
  white-space: nowrap;
  text-align: right;
  color: #8520ac;
  text-transform: uppercase;
}

.mycard_btns {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .mycard_btns {
    align-items: stretch;
  }

  .mycard_btns a {
    width: 50%;
  }
}


.mycard_btns a {
  width: 50%;
  height: 50px;
  font-size: 14px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oneclick_btn {
  background: #262626;
  color: #fff
}

.oneclick_btn:hover {
  color: #fff;
}

.oneclick_btn img {
  width: 15px;
  margin-right: 5px;
}

.cart_btn {
  color: #313131;
  font-weight: 600;
  border: 1px solid #f2f2f2;
  background: #fff;
}

.cart_btn:hover {
  color: #313131;
}

.cart_btn img {
  width: 18px;
  margin-right: 5px;
  /* filter: invert(1); */
}

.bg_none {
  background: none;
}

.cart_order {
  background: #fff;
  padding: 15px;
}

.cart_order h3 {
  font-size: 16px;
  line-height: 1.571;
  color: #313131;
  font-weight: 500;
}

.cart_order h4 {
  font-size: 15px;
  white-space: nowrap;
  text-align: right;
  line-height: 1.4;
  color: #313131;
  font-weight: 600;

}

.cart_order h4 span {
  font-size: 10px;
  white-space: nowrap;
  text-align: right;
  color: #8520ac;
  text-transform: uppercase;
}

.order_btn {
  background: #262626;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff
}

.order_btn:hover {
  color: #fff;
}

.order_btn img {
  width: 25px;
  margin-right: 7px;
}

/*custom-input-number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input-number {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.cin-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;

  margin: 0 auto;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


.cin-btn-md {
  height: 1.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cin-btn:active {
  background: #dedede;
}

.cin-btn:focus {
  outline: none;
}

.cin-input {
  border: 0;
  box-shadow: inset 0 0 0 rgba(64, 150, 255, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  pointer-events: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close_mycard {
  right: 30px;
}

.section_title {
  font-size: 25px;
  color: #000000;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.cart_empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cart_empty_down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-weight: 500;
  transition: all 0.25s;
}

.cart_empty_down:hover {
  color: #000;
}

.mytab {
  color: #313131 !important;
  background: transparent !important;
  border: 1px solid #fff;
  border-radius: 0 !important;
  text-align: center;
}

.mytab a {
  color: #313131 !important;
  border-radius: 0 !important;
  text-align: center;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mytab .active {
  background: #fff !important;
}

.mytab a img {
  margin-right: 10px;
  width: 15px;
}

.categorie {
  background: #fff;
  width: 100%;
  padding: 70px 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.categorie h3 {
  color: #313131;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

.skin {
  background: url(../images/skin.png) no-repeat center / cover;
}

.body {
  background: url(../images/body.png) no-repeat center / cover;
}

.hair {
  background: url(../images/hair.png) no-repeat center / cover;
}

.other {
  background: url(../images/other.png) no-repeat center / cover;
}

.sale {
  background: url(../images/sale.png) no-repeat center / cover;
}

.mybig_card h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #313131;
  width: 65%;
  font-weight: 500;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  align-self: flex-start;
}

.mybig_card h4 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

.mybig_card h4+span {
  line-height: 1.5;
  font-size: 14px;
  color: #888;
  text-decoration: line-through;
  text-transform: lowercase;
}

@media screen and (max-width: 576px) {
  .mybig_card h3 {
    height: 39px;
    margin-bottom: 0px;
  }

  .mybig_card h4 {
    font-size: 14px !important;
    padding-top: 0 !important;
  }

  .mybig_card h4+span {
    font-size: 14px;
  }
}


.mybig_card .mycard_img2 {
  /* height: 300px; */
}

.mybig_card .mycard_info2 {
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.my-card_two .mycard_info2 h4+span,
.mycard .mycard_info2 div h4+span {
  font-size: 16px;
  color: #888;
  text-decoration: line-through;
  text-transform: lowercase;
}

.my-card_two .mycard_info2 h4 {
  font-size: 18px;
  line-height: 1.5;
}

.my-card_two .mycard_info2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
}



.my-card_two .mycard_btns .cart_btn,
.my-card_two .mycard_btns .oneclick_btn {
  font-size: 12px;
}

.my-card_two .mycard_btns .cart_btn img,
.my-card_two .mycard_btns .oneclick_btn img {
  width: 14px;
}

.mycard .mycard_info2 div h4,
.mycard .mycard_info2 div h4+span {
  font-size: 14px;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .my-card_two {

    flex-direction: column;
    align-items: center;
    /* padding: 5px 5px; */
  }
}

.white_bg {
  background: #fff;
  padding: 40px;
}

.white_bg p {
  line-height: 1.83;
}

.mymin-h {
  min-height: 452px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-container {
  width: 100%;
  height: 300px;
}

.swiper-button-next {
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

.myswiper-button-next {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 2;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.myswiper-button-prev {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 2;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.myswiper-button-next:focus,
.myswiper-button-prev:focus {
  outline: none;
}

.myswiper-button-next i,
.myswiper-button-prev i {
  color: white;
  opacity: .7;
  font-size: 20px;
  transition: all .3s ease-in;
  position: relative;
}
.myswiper-button-next i:hover,
.myswiper-button-prev i:hover {
  opacity: 1;
  transition: all .3s ease-in;
}

.myswiper-button-next i::after,
.myswiper-button-prev i::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  transform: translate(-50%, -50%)
}

.res-dflex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.brand_logo {
  width: 150px;
  height: auto;
}

.mobil-logo {
  width: 150px !important;
}

.main-nav.navShadow .logo img {
  width: 150px !important;
}

.bonus {
  
  position: absolute;
  top: 50px;
  width: 100%;
  
  /* background-color: #6F248C; */
  background-image: linear-gradient(90deg, #6F248C, #6F248C);
  background-repeat: repeat;
  background-position: top center;
  background-size: contain;
  color: white;
  padding: 7px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.bonus::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('/front/images/stars.png');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  filter: contrast(.1)
}

.bonus p {
  margin: 0;
  font-size: 18px;
}

@media screen and (min-width: 1201px) {
  .bonus {
    top: 70px
  }
}

@media screen and (max-width: 767px) {
  .bonus p {
    font-size: 14px;
  }
}

/* Modal CSS */
.modal label {
    font-weight: 500 !important;
    margin-bottom: 2px !important;
}

.modal form .my_btn {
        background-color: #13aff0;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.125);
    padding: 10px 5px;
}

.modal .modal-content .modal-header h5 {
    font-size: 14px !important;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
     .modal .modal-content {
        width: 90%;
        margin: 0 auto;
    }   
    
    .modal .modal-content .modal-header h5 {
        font-size: 14px !important;
        padding: 0 25px;
    }

}

.modal .modal-content .modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
}


.modal .modal-header .close {
    position: absolute;
    top: 5px;
    right: 5px;
    
    font-size: 3rem;
    font-weight: 100 !important;
    color: #333;
    text-shadow: unset;
    opacity: .9;
}

.modal .modal-header .close:focus {
    outline: unset !important;
}

.my_input {
    
    margin-bottom: .875rem !important;
    background-color: #f2f2f2 !important;
    padding: 10px 5px;
    color: #43454b !important;
    outline: 0 !important;
    border: 0 !important;
    font-size: 16px !important;
    box-sizing: border-box !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125) !important;
    margin-left: 10px;
    margin-right: 10px;
}

.more-back {
    position: relative;
    z-index: 9999999;
}

.more-back .container{
    position: relative;
    width: 100%;
    height: 100%;
}

.more-back button{
    position: fixed;
    top: 4px;
    left: 20px;
    z-index: 99;
    font-size: 28px;
    color: white;
    padding: 0 10px;
    background: transparent;
    border: 0;
}

.more-back button:focus{
    outline: none;
}

@media screen and (min-width: 992px) {
    .more-back button{
        display: none;
    }
}

/*.white_bg ul, .white_bg table {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    justify-content: flex-start;*/
/*}*/

/*.white_bg ul li {*/
/*    overflow: scroll;*/
/*}*/


